
  

  h1, h2 {
    font-size: 100px;
    font-style:initial;
    font-family:'Bazooka' ;
    color: #ff000085;
    font-weight: 1000;
    text-shadow: 
      0 0 10px rgb(255, 0, 0),
      1px 1px 2px rgba(255, 0, 0, 0.4); 
    margin: 1rem 0;
    text-align: center;
    -webkit-text-stroke: 0.3px #ff0000; 
     -webkit-text-fill-color: #f9f9f9e5;
  }

  nav a:first-child {
    order: -1;
    margin-right:auto;
  }
  
  nav {
    padding: 0rem;
    background-color:transparent;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  .nav{
    background-color:transparent;
    text-align:right;
    justify-content: flex-end;
  }
  nav a {
    padding: 1rem 1rem;
    text-decoration: none;
    color: #ff0000;
    font-weight: 500;
    transition: background-color 0.2s ease;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
  }
  
  .nav a:hover {
    background-color: transparent;
    color: #fff;
  }
body{
  background-image: url('Images/EventHubpng/1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.p{
  text-align: center;
  font-size: 30px;
  color: rgb(143, 0, 0);
}
.hello{
  position:fixed;
  padding-top: 0rem ;
  width: 250px;
  height: 50px;
}
