body{
    background-image: url('Images/EventHubpng/6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
nav a:first-child {
    order: -1;
    margin-right:auto;
  }
  nav {
    padding: 0rem;
    background-color:transparent;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  .nav{
    background-color:transparent;
    text-align:right;
    justify-content: flex-end;
  }
  nav a {
    padding: 1rem 1rem;
    text-decoration: none;
    color: #ff0000;
    font-weight: 500;
    transition: background-color 0.2s ease;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
  }