body{
    background-image: url('Images/EventHubpng/6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
nav a:first-child {
    order: -1;
    margin-right:auto;
  }
  nav {
    padding: 0rem;
    background-color:transparent;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  .nav{
    background-color:transparent;
    text-align:right;
    justify-content: flex-end;
  }
  nav a {
    padding: 1rem 1rem;
    text-decoration: none;
    color: #ff0000;
    font-weight: 500;
    transition: background-color 0.2s ease;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
  }
  .nav a:hover {
    background-color: transparent;
    color: #fff;
  }
  .a{
    font-size: 20px;
    font-style:initial;
    font-family:'Bazooka' ;
    color: #ff000085;
    font-weight: 100;
    text-shadow: 
      0 0 10px rgb(255, 0, 0),
      1px 1px 2px rgba(255, 0, 0, 0.4); 
}
.signup-form {
    float: left;
    width: 39%;
    height: 500px;
    background-color: rgba(133, 131, 131, 0.3);
    padding: 2rem;
    margin: 2rem;
    border-radius: 5px;
    opacity: 0.5;
  }
  input[type="submit"] {
    background-color: #4f2626;
    color: #ffffff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  input[type="submit"]:hover {
    background-color: #3f1d1d;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
      
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  .h2{
      padding-right: 2rem;
      font-size: 30px;
      color: #ff0000;
      text-align: left;
  }