body{
    background-image: url('Images/EventHubpng/6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
nav a:first-child {
    order: -1;
    margin-right:auto;
  }