body{
  background: url(../Images/EventHubpng/7.png);
 
}
.container{
  background:transparent;
  width:450px;
  padding:1.5rem;
  margin:50px auto;
  border-radius:10px;
  box-shadow:0 20px 35px rgba(0,0,1,0.9);
}